body{
    max-width: 100%;
    /* overflow-x: hidden; */
    background-image: url("./images/coro10.jpg");
    background-size: cover;
   margin: 0;
}
@media (min-width: 768){
    #result{
        font-size:xx-small;
    }
}